ALTER TABLE chemicals ADD COLUMN IF NOT EXISTS purchase_date TEXT; ALTER TABLE chemicals ADD COLUMN IF NOT EXISTS actual_price NUMERIC; ALTER TABLE chemicals ADD COLUMN IF NOT EXISTS sale_price NUMERIC; ALTER TABLE materials ADD COLUMN IF NOT EXISTS purchase_date TEXT; ALTER TABLE materials ADD COLUMN IF NOT EXISTS actual_price NUMERIC; ALTER TABLE materials ADD COLUMN IF NOT EXISTS sale_price NUMERIC; ALTER TABLE tools ADD COLUMN IF NOT EXISTS actual_price NUMERIC; ALTER TABLE tools ADD COLUMN IF NOT EXISTS sale_price NUMERIC;
